<div class="col-md-3">
  <div class="border border-dark">
    <h5 class="font-weight-bold text-center border-bottom border-dark">
      ジャンル検索
    </h5>
    <div class="overflow-auto"  style="height:300px">
    <table class="table table-borderless">
      <tbody>
        <% categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>