<div class="col-md-3">
  <table class="table table-borderless category-table">
    <th class="text-center">ジャンル検索</th>
  <!--    <% categories.each do |category| %>-->
  <!--      <tr>-->
  <!--        <td><%= category.name %></td>-->
  <!--      </tr>-->
  <!--    <% end %>-->
  <!--</table>-->
    <tr>
      <td>ケーキ</td>
    </tr>
    <tr>
      <td>焼き菓子</td>
    </tr>
    <tr>
      <td>プリン</td>
    </tr>
    <tr>
      <td>キャンディ</td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
  </table>
</div>