<div class="col-md-3">
  <table class="table table-borderless category-table">
    <th class="text-center"><strong>ジャンル検索</strong></th>
      <% categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
        </tr>
      <% end %>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
  </table>
</div>