<div class="container mt-5">
  <div class="row">
    <!--ジャンル検索窓のテンプレート-->
    <%= render 'public/products/category', categories: @categories %>
    <div class="col-md-9">
        <%= render 'index', products: @products, header_name: @header_name %>
        <%= paginate @products %>
      </div>
    </div>
  </div>
</div>