<div class="container">
  <div class="row">
    <div class="col-10 mx-auto text-center">
      <h1 class="my-4" style="font-size:4.5rem;">About</h1>
      <div class="">
        <p style="font-size:1.3rem;line-height: 2.5rem;">
          ながのCAKEは全国発送可能なケーキ屋さんです。<br>
          お子様からお年寄りまでお召し上がりいただけるよう、<br>
          様々なバリエーションをご用意しております。<br>
          また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
          ぜひご注文ください。
        </p>
      </div>
      <div id="about_visual" class="mx-auto"></div>
    </div>
  </div>
</div>