<div class="container mt-3">
  <h5>
    <span class="heading">ジャンル編集</span>
  </h3>
  <%= render 'layouts/validation', instance: @category %>
  <%= render 'form', category: @category, submit: @submit %>
</div>