<div class="container mt-3">
  <h3>ジャンル一覧・追加</h3>
  <%= render 'form', category: @category %>
  <div class="row mt-5">
    <div class="col-5 mr-auto">
      <table class="table" >
        <thead align="center">
          <tr>
            <td class="font-weight-bold" width="200">ジャンル</td>
            <td width="100"></td>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td>
                <%= link_to "編集する", edit_admin_category_path(category), class:"btn btn-success" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>