<li class="nav-item">
  <%= link_to "マイページ", public_customer_path, class:"nav-link btn btn-outline-secondary ml-4" %>
</li>
<li class="nav-item">
  <%= link_to "商品一覧", public_products_path, class:"nav-link btn btn-outline-secondary ml-4" %>
</li>
<li class="nav-item">
  <%= link_to "カート", public_cart_items_path, class:"nav-link btn btn-outline-secondary ml-4" %>
</li>
<li class="nav-item">
  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"nav-link btn btn-outline-secondary ml-4" %>
</li>